var CHARTS = (typeof CHARTS === 'undefined') ? {} : CHARTS;

function googleChartLoaded() {

    CHARTS.loaded = true;

    {{ jscode }}

    var jscode_table_{{ divId }} = new google.visualization.{{ kind }}(document.getElementById('{{ divId }}'));


    CHARTS.draw_{{ divId }} = function() {
        jscode_table_{{ divId }}.draw(jscode_data, {{ dumps_final }});
    }

    CHARTS.draw_{{ divId }}();
}

if(typeof CHARTS.loading === 'undefined') {
    CHARTS.loading = true;  //set sth.
    google.charts.load("43", {packages:["corechart"]});
}

google.charts.setOnLoadCallback(googleChartLoaded);

if(typeof CHARTS.loaded !== 'undefined') {
    googleChartLoaded();
}

{#else {#}
{#    google.charts.setOnLoadCallback(googleChartLoaded);#}
{#}#}


